html, body, #root, #app, #mainpage {
  height: 100%;
  background-color: white !important;
}


#mainpage {
  display: flex;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 80px;
  }
}

#loading-page {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &>:nth-child(2){
    padding: 20px 0px 5px 0px;
  }
}

#logo {
  max-width: 80px;

  & > img {
    width: 100%;
  }
}

#app-name {
  font-size: 64px;
  font-weight: 700;
  width: 100%;
  max-width: 400px;
}

#left-half {
  text-align: left;
  align-items: end;
}


#left-half-img {
  text-align: right;
}

#app-name, #left-half-img > img {
  max-width: 400px;
}

.pac-container {
  z-index: 1100 !important;
}