#map {
  display: flex;
  height: 100%;
}

#map-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 350px;
  max-width: 350px;
  padding: 10px;
  background: #FAFBFD;

  #parking-hex-list {
    flex-grow: 1;
    overflow: auto;

    .parking-hex-list-card {
      button {
        width: 100%;
      }
    }

    .parking-hex-list-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 16px;
    }

    .node-icon {
      padding-top: 5px;
      margin-right: 5px;
    }
  }

  #map-settings{
    min-height: 100px;
    max-height: 100px;
  }
}

#map-vis {
  width: 100%;
  height: 100%;
}

